header {
    width: 100%;
    height: 80px;
    background-color: white;
    display: block;
    min-height: 100%;
}
.wrapper {
}
#logo {
    float: left;
}
nav {
    float: right;
}
nav ul {

}
nav ul li{
    display: inline-block;
}
#web-body {
    color: white;
}
#main-abovethefold {
    margin: auto;
    background-image: url("img/enchant-your-guests.jpg");
}
button {
    background-color: #3f7205;
    color: white;
}
#atf-bottom {
    max-height: 20%;
    background-color: #193694;
}

#bottom-section {
    background-color: #193694;

}