.top {
    height: 70px;
}
.img-center {
    height:330px;
    width: 375px;
}
.img-center img {
    height:300px;
    width: 355px;
}
.nav-right {
    height: 70px;
    vertical-align: middle;
}
.row {
    background-color: silver;
}
.jumbotron {
    background: url('img/enchant-your-guests.jpg') no-repeat center center;
    height: 392px;
    color: white;
    text-shadow:0 0 5px #111111;
}
.bottom-header {
    margin-top: 20px;
    height: 70px;
}